<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../css/ComponentsCss.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body>

<div class="parent">
    <div class="child">
        <a href="#">Inbox <span class="badge">42</span></a>

        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
    </div>
</div>

<textarea class="testAreaCss">
        <a href="#">Inbox <span class="badge">42</span></a>

        <button class="btn btn-primary" type="button">
            Messages <span class="badge">4</span>
        </button>
</textarea>

</body>
</html>